body {
    background-color: #EFFFFD;
}

#logo {
    text-align: center;
    font-size: 30px;
    font-family: monospace, 'sans-serif';
    font-weight: 900;
    color: #42C2FF;
    text-shadow: 1px 1px 1px #057faf;
    margin-bottom: 5vw;
}

#startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    color: #5c5c5c;
    font-size: 20px;
    /*animation: remove 1s; */
}

#startContainer ul {
    list-style-image: url('./resources/hand-point.png');

}

#startContainer ul li {
margin-bottom: 2px;
}

#instruction {
    width: 50vw;
}

button {
    background: #000;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

button:hover {
    background: white;
    color: #000;
    border: 1px solid #000;
}

@keyframes remove {
    0%   {
        margin-right: 0vw;
    }
    100% {
        margin-right: 80vw;
        opacity: 0;
        display: none;
    }
}

.scorebox {
    background: #eee;
    padding: 12px;
    height: 12px;
    width: 12px;
    border: 1px solid black;
}

.movebox {
    height: 120px;
    width: 85px;
    background: #eee;
    border: 1px solid black;
    background-image: url('./resources/paper.jpg');

}

#playContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#score {
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#scoreCard {
    display: flex;
}

#moveCard {
    display: flex;
    gap: 1vw;
    width: 40vw;
    justify-content: center;
    flex-wrap: wrap;
}

#playerMove {
    min-width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#compMove {
    min-width: 10vw;
    flex-direction: column;
    align-items: center;
    display: flex;

}

#choiceCard {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choiceCard ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 5px;

}

#choices {
    display: flex;
    gap: 5px;
    height: 120px;
}

#choices img {
    max-width: 85px;
    border: 1px solid rgb(43, 124, 156);
}

d {
    border: 1px solid;

}



